<div class='editMargin'>
<h1>Enter your profile information</h1>
		<label for='firstNameField'>First Name</label>
		<input class='editField' value="{{user.profile.firstName}}" placeholder="{{user.profile.firstName}}" id="firstNameField">
		<label for='lastNameField'>Last Name</label>
		<input class='editField' value="{{user.profile.lastName}}" placeholder="{{user.profile.lastName}}" id="lastNameField">
		<label for='titleField'>Title</label>
		<input class='editField' value="{{user.profile.title}}" placeholder='{{user.profile.title}}' id="titleField">
		<label for='affiliationField'>Work Place</label>
		<input class='editField' value="{{user.profile.affiliation}}" placeholder='{{user.profile.affiliation}}' id='affiliationField'>
		<label for='imageField'>Image URL</label>
		<input class='editField' value="{{user.profile.image}}" placeholder="{{user.profile.image}}" id='imageField'>
<h2>Enter your interests</h2>
<div id='interestHolder'>
	<label for='InterestField'>Interests</label>
		<button id='addInterestField'>Add</button>
		<br />
	<input placeholder='Put your interest here' class='interestField'>
</div>
<button id='submitEdit'>Submit</button>
</div>
