{{#if ownPage}}
	<a href="/users/edit/{{user.id}}">Edit Profile</a>
{{/if}}
<img src="{{user.profile.image}}"/>
{{#unless ownPage}}
	<form action='/users/friends/{{session.sessionId}}' method='POST'>
		<input name='friendId' value='{{user.id}}'>
	<button>Add Friend</button>
	</form>
{{/unless}}
<h2 id='profileName'>{{user.profile.firstName}} {{user.profile.lastName}}</h2>
<h3>{{user.profile.title}}</h3>
<h3>{{user.profile.affiliation}}</h3>
<br />

<h3>Interests</h3>
	<ul>
		{{#each user.profile.interests}}
		<li>{{this}}</li>
		{{/each}}
	</ul>

<h3>Write on this wall</h3>
<form action='/posts' method='POST'>
	<input name='message'>
	<input name='userId' value='{{user.id}}' hidden>
	<input name='author' value='{{session.userName}}' hidden>
	<input name='authorId' value='{{session.sessionId}}'>
	<button>Write</button>
</form>

<h2>Put another brick in THE WALL</h2>
<ul>
{{#each user.posts}}
	<li>
	<h4><a href='/users/{{this.authorId}}'>{{this.author}}</a></h4>
	<p>{{this.message}}</p>
	</li>
{{/each}}
</ul>

<h2>Yo dawg here's your friends</h2>
<ol>
{{#each user.friends}}

	<li>
	<a href='/users/{{this.id}}'>{{this.profile.firstName}} {{this.profile.lastName}}</a>
	</li>
{{/each}}